.col {
  float: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-width {
  width: 100%;
  max-width: 100%;
  height: 150px;
  border-radius: 10px;
}

.center {
  flex-direction: row !important;
}
