<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> نظام الكاتب بالعدل - وزارة العدل </h2>


    <!-- Login Form -->
    <form [formGroup]="loginForm">
      <div class="login">
        <mat-form-field class="span_2_of_2">
            <input matInput id="userName" placeholder="Enter your userName" formControlName="userName" >
            <mat-icon matPrefix>account_circle</mat-icon>
        </mat-form-field>

        <mat-form-field class="span_2_of_2">
            <input matInput id="password" placeholder="Enter your password" formControlName="password" [type]="hide ? 'password' : 'text'">
          <mat-icon matPrefix>lock</mat-icon>
            <mat-icon matSuffix class="pointer" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
      </div>
    </form>
    <button mat-raised-button (click)="logIn(loginForm.value)">تسجيل الدخول</button>
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
