<div class="container" fxFlexFill>
  <div fxLayout="row" fxLayoutAlign="center center" >
    <mat-card class="card" >
      <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
        <h5 class="headers-color">المرفقات</h5>
      </mat-card-title>
      <mat-divider></mat-divider>

      <mat-card-content>
        <mat-table [dataSource]="(transactionRequestAttachments$ | async)" class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index "> {{i+1}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="attachmentType">
            <mat-header-cell *matHeaderCellDef>نوع المرفق </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element?.attachmentType.description}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="edit-delete">
            <mat-header-cell *matHeaderCellDef>عرض/حذف</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a mat-icon-button> <mat-icon matTooltip="عرض" color="primary" (click)="viewAttachment(element)">remove_red_eye</mat-icon></a>
              <a mat-icon-button><mat-icon matTooltip="حذف" color="warn" (click)="deleteRequestAttachment(element.id)">delete</mat-icon></a>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </mat-card-content>
    </mat-card>
  </div>
</div>

