<div class="container" fxFlexFill>
  <div fxLayout="row" >
    <mat-card class="card"  >
     <!--
     <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
        <h5 class="headers-color"> {{participantType === 1 ?  'الطرف الأول' : 'الطرف الثاني'}}</h5>
      </mat-card-title>
       -->

      <mat-card-content>
        <form [formGroup]="procurationCustomer" novalidate autocomplete="off">
          <div class="mat-elevation-z8 card-content-space-around" fxLayout="column" fxLayoutGap="1%"  fxLayoutAlign="center">

            <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="10%" formGroupName="customer">

              <mat-form-field class="input-width">
                <mat-label >الصفه</mat-label>
                <mat-select   formControlName="customerCategory">
                  <mat-option *ngFor="let cg of (requestCustomerTypes$ | async) | requestCustomerTypePipe: participantType: (transactionCustomerTypes$ | async)" [value]="cg?.id">{{cg?.description}}</mat-option>
                </mat-select>
                <mat-error *ngFor="let type of (validationTypes$ | async)">
                  <mat-error *ngIf="getFormControlCustomer('customerCategory').hasError(type) && (getFormControlCustomer('customerCategory').dirty || getFormControlCustomer('customerCategory').touched)">{{validationMessagesService.getValidatorErrorMessage(type, null, 'الصفه')}}</mat-error>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="input-width">
                <mat-label >نوع الوثيفه</mat-label>
                <mat-select  formControlName="customerIDType">
                  <mat-option *ngFor="let cId of (customerIdTypes$ | async)" [value]="cId.id" (onSelectionChange)="customerType = cId">{{cId.description}}</mat-option>
                </mat-select>
                <mat-error *ngFor="let type of (validationTypes$ | async)">
                  <mat-error *ngIf="getFormControlCustomer('customerIDType').hasError(type) && (getFormControlCustomer('customerIDType').dirty
                   || getFormControlCustomer('customerIDType').touched)">{{validationMessagesService.getValidatorErrorMessage(type, null, 'نوع الوثيفه')}}</mat-error>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="input-width">
                <mat-label>الرقم المدني</mat-label>
                <input matInput type="number" formControlName="customerCivilId" appInputLimiter="maxLength">
                <mat-error *ngFor="let type of (validationTypes$ | async)">
                  <mat-error *ngIf="getFormControlCustomer('customerCivilId').hasError(type) && (getFormControlCustomer('customerCivilId').dirty || getFormControlCustomer('customerCivilId').touched)">{{validationMessagesService.getValidatorErrorMessage(type, {max: maxLength, min: 1}, 'الرقم المدني')}}</mat-error>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="input-width" *ngIf="getFormControlCustomerValue('customerIDType') === 1">
                <mat-label>الصلاحيه</mat-label>
                <input matInput [matDatepicker]="dp2" (dateChange)="onChangesExpiryDate($event)" formControlName="idExpiryDate" >
                <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                <mat-datepicker #dp2 ></mat-datepicker>
                <mat-error *ngFor="let type of (validationTypes$ | async)">
                  <mat-error *ngIf="getFormControlCustomer('idExpiryDate').hasError(type) && (getFormControlCustomer('idExpiryDate').dirty
                   || getFormControlCustomer('idExpiryDate').touched)">{{validationMessagesService.getValidatorErrorMessage(type, null, 'الصلاحيه')}}</mat-error>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="input-width">
                <mat-label>الاسم كامل</mat-label>
                <input matInput formControlName="customerName">
                <mat-hint align="start"><strong>الاسم يتكون من مقطعين علي الأقل</strong> </mat-hint>
                <mat-error *ngFor="let type of (validationTypes$ | async)">
                  <mat-error *ngIf="getFormControlCustomer('customerName').hasError(type) && (getFormControlCustomer('customerName').dirty
                   || getFormControlCustomer('customerName').touched)">{{validationMessagesService.getValidatorErrorMessage(type, null, 'الاسم كامل')}}</mat-error>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="input-width" *ngIf="participantType !== 3">
                <mat-label> رقم النقال</mat-label>
                <input matInput type="tel" formControlName="mobileNo">
                <mat-error *ngFor="let type of (validationTypes$ | async)">
                  <mat-error *ngIf="getFormControlCustomer('mobileNo').hasError(type) && (getFormControlCustomer('mobileNo').dirty
                   || getFormControlCustomer('mobileNo').touched)">hhhhh</mat-error>
                </mat-error>
              </mat-form-field>


              <ng-template *appInputPerPage="transactionCategories.marriageAndDivorceTransactions">
                <mat-form-field class="input-width" *ngIf="participantType !== 3">
                  <mat-label>العنوان</mat-label>
                  <input matInput formControlName="address">
                  <mat-error *ngFor="let type of (validationTypes$ | async)">
                    <mat-error *ngIf="getFormControlCustomer('address').hasError(type) && (getFormControlCustomer('address').dirty
                   || getFormControlCustomer('address').touched)">{{validationMessagesService.getValidatorErrorMessage(type, null, 'العنوان')}}</mat-error>
                  </mat-error>
                </mat-form-field>
              </ng-template>



              <mat-form-field class="input-width">
                <mat-label > الجنسيه</mat-label>
                <mat-select   formControlName="nationality">
                  <mat-option *ngFor="let n of (nationalities$ | async)" [value]="n.id">{{n.description}}</mat-option>
                </mat-select>
                <mat-error *ngFor="let type of (validationTypes$ | async)">
                  <mat-error *ngIf="getFormControlCustomer('nationality').hasError(type) && (getFormControlCustomer('nationality').dirty
                   || getFormControlCustomer('nationality').touched)">{{validationMessagesService.getValidatorErrorMessage(type, null, 'الجنسيه')}}</mat-error>
                </mat-error>
              </mat-form-field>

              <ng-template *appInputPerPage="transactionCategories.marriageAndDivorceTransactions">
                <mat-form-field class="input-width" *ngIf="participantType !== 3">
                  <mat-label>تاريخ الميلاد</mat-label>
                  <input matInput [matDatepicker]="dp" (dateChange)="onChangesBirthDate($event)" formControlName="birthDate">
                  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                  <mat-datepicker #dp></mat-datepicker>
                  <mat-error *ngFor="let type of (validationTypes$ | async)">
                    <mat-error *ngIf="getFormControlCustomer('birthDate').hasError(type) && (getFormControlCustomer('birthDate').dirty
                   || getFormControlCustomer('birthDate').touched)">{{validationMessagesService.getValidatorErrorMessage(type, null, 'تاريخ الميلاد')}}</mat-error>
                  </mat-error>
                </mat-form-field>
              </ng-template>


              <mat-form-field class="input-width" *ngIf="false">
                <mat-label>القبيله</mat-label>
                <input matInput formControlName="tribeName">
              </mat-form-field>

              <ng-template *appInputPerPage="transactionCategories.marriageAndDivorceTransactions">
              <mat-form-field class="input-width" *ngIf="participantType !== 3">
                <mat-label > المؤهل الدراسي</mat-label>
                <mat-select   formControlName="qualificationId">
                  <mat-option *ngFor="let qualification of (adminTypes$ | async) | adminTypes: 2" [value]="qualification.Id">{{qualification.NameAr}}</mat-option>
                </mat-select>
              </mat-form-field>
              </ng-template>

              <ng-template *appInputPerPage="transactionCategories.lawyerTransactions">
                <mat-form-field class="input-width" *ngIf="participantType === 2" >
                  <mat-label > رقم القيد</mat-label>
                  <mat-select   formControlName="professionId">
                    <mat-option *ngFor="let qualification of (adminTypes$ | async) | adminTypes: 1" [value]="qualification.Id">{{qualification.NameAr}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-template>

              <ng-template *appInputPerPage="transactionCategories.marriageAndDivorceTransactions">
              <mat-form-field class="input-width" *ngIf="participantType !== 3">
                <mat-label > حالة العمل</mat-label>
                <mat-select   formControlName="workStatusId">
                  <mat-option *ngFor="let qualification of (adminTypes$ | async) | adminTypes: 3" [value]="qualification.Id">{{qualification.NameAr}}</mat-option>
                </mat-select>
                <mat-error *ngFor="let type of (validationTypes$ | async)">
                  <mat-error *ngIf="getFormControlCustomer('workStatusId').hasError(type) && (getFormControlCustomer('workStatusId').dirty
                   || getFormControlCustomer('workStatusId').touched)">{{validationMessagesService.getValidatorErrorMessage(type, null, 'حالة العمل')}}</mat-error>
                </mat-error>
              </mat-form-field>
              </ng-template>

              <ng-template *appInputPerPage="transactionCategories.marriageTransactions">
              <mat-form-field class="input-width" *ngIf="getFormControlCustomerValue('customerIDType') !== 1 && participantType !== 3">
                <mat-label>رقم موافقه السفاره</mat-label>
                <input matInput formControlName="embassyDocNo">
                <mat-error *ngFor="let type of (validationTypes$ | async)">
                  <mat-error *ngIf="getFormControlCustomer('embassyDocNo').hasError(type) && (getFormControlCustomer('embassyDocNo').dirty
                   || getFormControlCustomer('embassyDocNo').touched)">{{validationMessagesService.getValidatorErrorMessage(type, null, 'رقم موافقه السفاره')}}</mat-error>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="input-width" *ngIf="getFormControlCustomerValue('customerIDType') !== 1 && participantType !== 3">
                <mat-label>تاريخ موافقة السفاره</mat-label>
                <input matInput [matDatepicker]="embassy" (dateChange)="onChangesEmbassyDate($event)" formControlName="embassyDocDate">
                <mat-datepicker-toggle matSuffix [for]="embassy"></mat-datepicker-toggle>
                <mat-datepicker #embassy></mat-datepicker>
                <mat-error *ngFor="let type of (validationTypes$ | async)">
                  <mat-error *ngIf="getFormControlCustomer('embassyDocDate').hasError(type) && (getFormControlCustomer('embassyDocDate').dirty
                   || getFormControlCustomer('embassyDocDate').touched)">{{validationMessagesService.getValidatorErrorMessage(type, null, 'تاريخ موافقة السفاره')}}</mat-error>
                </mat-error>
              </mat-form-field>
              </ng-template>

              <ng-template *appInputPerPage="transactionCategories.widowingProof">
                <mat-form-field class="input-width" *ngIf="participantType === 2">
                  <mat-label>رقم الإعلام الشرعي</mat-label>
                  <input matInput formControlName="widowingNo">
                  <mat-error *ngFor="let type of (validationTypes$ | async)">
                    <mat-error *ngIf="getFormControlCustomer('widowingNo').hasError(type) && (getFormControlCustomer('widowingNo').dirty
                   || getFormControlCustomer('widowingNo').touched)">{{validationMessagesService.getValidatorErrorMessage(type, null, 'رقم الإعلام الشرعي')}}</mat-error>
                  </mat-error>
                </mat-form-field>
              </ng-template>

              <ng-template *appInputPerPage="transactionCategories.widowingProof">
                <mat-form-field class="input-width" *ngIf="participantType === 2">
                  <mat-label>تاريخ الإصدار</mat-label>
                  <input matInput [matDatepicker]="widowingDate" (dateChange)="onChangesWidowingDate($event)" formControlName="widowingDate">
                  <mat-datepicker-toggle matSuffix [for]="widowingDate"></mat-datepicker-toggle>
                  <mat-datepicker #widowingDate></mat-datepicker>
                  <mat-error *ngFor="let type of (validationTypes$ | async)">
                    <mat-error *ngIf="getFormControlCustomer('widowingDate').hasError(type) && (getFormControlCustomer('widowingDate').dirty
                   || getFormControlCustomer('widowingDate').touched)">{{validationMessagesService.getValidatorErrorMessage(type, null, 'تاريخ الإصدار')}}</mat-error>
                  </mat-error>
                </mat-form-field>
              </ng-template>

              <ng-template *appInputPerPage="transactionCategories.widowingProof">
              <mat-form-field class="input-width" *ngIf="participantType == 2">
                <mat-label>جهة الإصدار</mat-label>
                <input matInput formControlName="widowingIssuePlace">
                <mat-error *ngFor="let type of (validationTypes$ | async)">
                  <mat-error *ngIf="getFormControlCustomer('widowingIssuePlace').hasError(type) && (getFormControlCustomer('widowingIssuePlace').dirty
                   || getFormControlCustomer('widowingIssuePlace').touched)">{{validationMessagesService.getValidatorErrorMessage(type, null, 'جهة الإصدار')}}</mat-error>
                </mat-error>
              </mat-form-field>
              </ng-template>

            </div>

            <mat-form-field class="input-width" *ngIf="participantType === 2 && (relatives$ | async)?.length > 0">
              <mat-label > صلة القرابة</mat-label>
              <mat-select formControlName="relativeRelation">
                <mat-option *ngFor="let relative of (relatives$ | async)" [value]="relative.id">{{relative.arabicName}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="10%" fxLayoutAlign="start center" formGroupName="facilityData"
                 *ngIf="getFormControlCustomerValue('customerCategory') === 55 ||
                        getFormControlCustomerValue('customerCategory') === 64 ||
                        getFormControlCustomerValue('customerCategory') === 6">

              <mat-form-field class="input-width" *ngIf="false">
                <mat-label> رقم المنشأه</mat-label>
                <input matInput formControlName="facilityNo">
              </mat-form-field>

              <mat-form-field class="input-width" *ngIf="false">
                <mat-label> اسم المنشأه</mat-label>
                <input matInput formControlName="facilityName">
              </mat-form-field>

              <mat-form-field class="input-width">
                <mat-label> السجل التجاري</mat-label>
                <input matInput formControlName="commericalRegister" type="number" (blur)="getCommercials()">
                <mat-error *ngFor="let type of (validationTypes$ | async)">
                  <mat-error *ngIf="getFormControlFacilityData('commericalRegister').hasError(type) && (getFormControlFacilityData('commericalRegister').dirty
                   || getFormControlFacilityData('commericalRegister').touched)">{{validationMessagesService.getValidatorErrorMessage(type, null, 'السجل التجاري')}}</mat-error>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="input-width" >
                <mat-label> اسم الشركه</mat-label>
                <input matInput formControlName="facilityName">
                <mat-error *ngFor="let type of (validationTypes$ | async)">
                  <mat-error *ngIf="getFormControlFacilityData('facilityName').hasError(type) && (getFormControlFacilityData('facilityName').dirty
                   || getFormControlFacilityData('facilityName').touched)">{{validationMessagesService.getValidatorErrorMessage(type, null, 'اسم الشركه')}}</mat-error>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="input-width">
                <mat-label> صندوق البريد</mat-label>
                <input matInput formControlName="postalBox">
              </mat-form-field>

              <mat-form-field class="input-width">
                <mat-label> رقم تليفون الشركه</mat-label>
                <input type="tel" matInput formControlName="telephone">
              </mat-form-field>

              <mat-form-field class="input-width">
                <mat-label>تاريخ الإنتهاء</mat-label>
                <input matInput [matDatepicker]="companyExpiry" (dateChange)="onChangesCompanyExpiryDate($event)" formControlName="expiryDate">
                <mat-datepicker-toggle matSuffix [for]="companyExpiry"></mat-datepicker-toggle>
                <mat-datepicker #companyExpiry></mat-datepicker>
                <mat-error *ngFor="let type of (validationTypes$ | async)">
                  <mat-error *ngIf="getFormControlFacilityData('expiryDate').hasError(type) && (getFormControlFacilityData('expiryDate').dirty
                   || getFormControlFacilityData('expiryDate').touched)">{{validationMessagesService.getValidatorErrorMessage(type, null, 'اسم الشركه')}}</mat-error>
                </mat-error>
              </mat-form-field>
              <button *ngIf="mociData" mat-raised-button color="warn" (click)="openCommercialDialog()">تحقق</button>
            </div>

            <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="10%" fxLayoutAlign="start center" formGroupName="procuration">

              <mat-radio-group fxLayout="row"  fxLayoutWrap fxLayoutGap="20%" fxLayoutAlign="start center" formControlName="manualFlag"
                               *ngIf="getFormControlCustomerValue('customerCategory') === 7 ||
                                      getFormControlCustomerValue('customerCategory') === 1">
                <mat-radio-button [value]="true">
                 {{getFormControlCustomerValue('customerCategory') === 7 ? 'تفويض يدوي' : 'وكالة يدوية'}}
                </mat-radio-button>
                <mat-radio-button [value]="false">
                  {{getFormControlCustomerValue('customerCategory') === 7 ? 'تفويض آلي' : 'وكالة آلية'}}
                </mat-radio-button>
              </mat-radio-group>

              <mat-form-field class="input-width" *ngIf="getFormControlCustomerValue('customerCategory') === 7 ||
                        getFormControlCustomerValue('customerCategory') === 1 ||
                        getFormControlCustomerValue('customerCategory') === 3 ||
                        getFormControlCustomerValue('customerCategory') === 74">
                <mat-label>{{getFormControlCustomerValue('customerCategory') === 7 ? 'رقم التفويض' :
                getFormControlCustomerValue('customerCategory') === 1? 'رقم الوكاله' : 'رقم الخطاب'}}</mat-label>
                <input matInput formControlName="procurationNote" *ngIf="getFormControlProcurationValue('manualFlag') === true">
                <input matInput  formControlName="repProcurationSerial" *ngIf="getFormControlProcurationValue('manualFlag') === false">
                <mat-error *ngFor="let type of (validationTypes$ | async)">
                  <mat-error *ngIf="(getFormControlProcuration('procurationNote').hasError(type) && (getFormControlProcuration('procurationNote').dirty
                   || getFormControlProcuration('procurationNote').touched))
                    || (getFormControlProcuration('repProcurationSerial').hasError(type) && (getFormControlProcuration('repProcurationSerial').dirty
                   || getFormControlProcuration('repProcurationSerial').touched))">{{validationMessagesService.getValidatorErrorMessage(type, null, getFormControlCustomerValue('customerCategory') === 7 ? 'رقم التفويض' :
                    getFormControlCustomerValue('customerCategory') === 1? 'رقم الوكاله' : 'رقم الخطاب')}}</mat-error>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="input-width" *ngIf="getFormControlCustomerValue('customerCategory') === 3 ||
                                                         getFormControlCustomerValue('customerCategory') === 74">
                <mat-label>جهة الخطاب</mat-label>
                <input matInput formControlName="issuer">
                <mat-error *ngFor="let type of (validationTypes$ | async)">
                  <mat-error *ngIf="getFormControlProcuration('issuer').hasError(type) && (getFormControlProcuration('issuer').dirty
                   || getFormControlProcuration('issuer').touched)">{{validationMessagesService.getValidatorErrorMessage(type, null, 'جهة الخطاب')}}</mat-error>
                </mat-error>
              </mat-form-field>


            </div>

            <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="10%" fxLayoutAlign="start center" *appInputPerPage="transactionCategories.lawyerTransactions">


              <mat-form-field [hideRequiredMarker]="false"  class="law-offices-input-width" *ngIf="participantType === 2">
                <mat-label > مكتب المحاماه</mat-label>
                <input type="text" matInput [formControl]="lawOffices"  [matAutocomplete]="auto">
                <mat-icon matSuffix>search</mat-icon>
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="getDisplayFn">
                  <mat-option  *ngFor="let office of (lawOffices$ | async) | autoCompleteFilter: lawOffices.value" [value]="office">
                    {{office.InstitutionName}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>


              <button mat-fab color="primary" type="button" matTooltip="رمز المكتب" [matBadge]="institutionId" matBadgePosition="before"
                      matBadgeColor="accent" (click)="openLawersDialog(); $event.stopPropagation()" *ngIf="participantType === 2">
                <mat-icon >account_balance</mat-icon>
              </button>
            </div>

            <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="10%" fxLayoutAlign="start center">
                <mat-checkbox formControlName="requesterFlag" >مقدم الطلب</mat-checkbox>
            </div>

            </div>
        </form>
      </mat-card-content>

      <mat-card-actions>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
          <div>
            <button mat-raised-button color="Basic" [disabled]="!requestId" (click)="creatProcurationCustomer(procurationCustomer)">{{procurationCustomer.value.id ? 'تعديل' : 'إضافه'}}</button>
          </div>
          <div>
          <button mat-raised-button color="warn" (click)="clearForm()">مسح</button>
        </div>
        </div>
      </mat-card-actions>
      <mat-card-content>
        <mat-table [dataSource]="(customers$ | async)| customerParticpantType: participantType" class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
            <mat-header-cell *matHeaderCellDef> {{column.header}} </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index ">
              {{column.columnDef === 'position' ? i+1 : column.cell(element)}}
              <div *ngIf="column.columnDef === 'edit-delete'">
                <a mat-icon-button><mat-icon matTooltip="تعديل" color="primary" svgIcon="edit" (click)="fetchProcurationCustomer(element)"></mat-icon></a>
                <a mat-icon-button><mat-icon matTooltip="حذف" color="warn" svgIcon="delete" (click)="deleteProcurationCustomer(element.customer.id, element.id)"></mat-icon></a>
              </div>
            </mat-cell>
          </ng-container>



          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
