<div class="container" fxFlexFill>
  <div fxLayout="row" fxLayoutAlign="center center" >
    <mat-card class="card" >
      <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
        <h5 class="headers-color">النماذج الأساسيه</h5>
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>

        <form [formGroup]="debagaForm" novalidate autocomplete="off">
          <div class="mat-elevation-z8 card-content-space-around" fxLayout="column" fxLayoutGap="1%"  fxLayoutAlign="center">

            <div  fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="5%" >
              <ng-container *ngFor="let debaga of debagas; let i=index">
              <ng-container *ngTemplateOutlet="debaga.htmlComponentLu.code === 'RADIOBUTTON' ? RADIOBUTTON : debaga.htmlComponentLu.code === 'DROPDOWNLIST' ? DROPDOWNLIST : debaga.htmlComponentLu.code === 'MULTIDROPDOWNLIST' ? MULTIDROPDOWNLIST :  debaga.htmlComponentLu.code === 'TEXT' && (debaga.columnType === 'ALPHANUMERIC' || debaga.columnType === 'MONEY' || debaga.columnType === 'DIGIT' || debaga.columnType === 'CHAR')  ? TEXT : debaga.columnType === 'DATE' ? DATE : CHECKBOX"></ng-container>
              <ng-template #CHECKBOX>
                <mat-label>{{debaga.description}}</mat-label>
                <mat-checkbox  [id]="debaga.id"  [formControlName]="debaga.id"></mat-checkbox>
              </ng-template>
              <ng-template #RADIOBUTTON>
                <mat-label>{{debaga.description}}</mat-label>
                <mat-radio-button  [id]="debaga.id" [formControlName]="debaga.id" ></mat-radio-button>
              </ng-template>

              <ng-template #DROPDOWNLIST >
                <mat-form-field class="debaga-fields" [id]="debaga.id">
                  <mat-label>{{debaga.description}}</mat-label>
                  <mat-select  [formControlName]="debaga.id">
                    <mat-option *ngFor="let element of (debaga.text | stringToArray)" [value]="element">{{element}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-template>
                <ng-template #MULTIDROPDOWNLIST >
                  <mat-form-field class="debaga-fields">
                    <mat-select [formControlName]="debaga.id"  multiple >
                      <mat-option *ngFor="let element of (debaga.text | stringToArray)" [value]="element">{{element}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </ng-template>
              <ng-template #DATE>
                <mat-form-field class="input-width debaga-fields" [id]="debaga.id">
                  <mat-label>{{debaga.description}}</mat-label>
                  <input matInput [value]="debaga.text"  [matDatepicker]="dp" [formControlName]="debaga.id" (dateChange)="onChangesDate($event, debaga.id)" >
                  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                  <mat-datepicker #dp></mat-datepicker>
                </mat-form-field>
              </ng-template>
              <ng-template #TEXT >
                <mat-form-field class="input-width debaga-fields" [id]="debaga.id">
                  <mat-label>{{debaga.description}}</mat-label>
                  <input matInput [value]="debaga.text" [name]="debaga.code"   [formControlName]="debaga.id" (blur)="getCommercials(debaga, $event)">
                </mat-form-field>
              </ng-template>
              </ng-container>
            </div>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
          <div  >
            <button mat-raised-button color="Basic" [disabled]="!isMulti && !isEdite || !requestId" (click)="isEdite ? updateRequestDebaga() : addRequestDebaga()">{{isEdite ? 'تعديل' : 'إضافه'}}</button>
            <button mat-raised-button color="warn" (click)="clearForm()">مسح</button>
          </div>
        </div>
      </mat-card-actions>
      <mat-card-content>
        <mat-table id="tableId" [dataSource]="(requestDebaga$ | async) | getBasicDataValues: true" class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index "> {{i+1}} </mat-cell>
          </ng-container>

          <ng-container *ngFor="let col of debagas" matColumnDef="{{col.id}}">
            <mat-header-cell *matHeaderCellDef>{{col.description}} </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index">{{cellValue(element, col)}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="edit-delete">
            <mat-header-cell *matHeaderCellDef>حذف/تعديل </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index">
              <a mat-icon-button><mat-icon matTooltip="تعديل" color="primary" (click)="fetchDebagaData(element)">edit</mat-icon></a>
              <a mat-icon-button><mat-icon matTooltip="حذف" color="warn" (click)="deleteDebaga(element)">delete</mat-icon></a>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="debagas | getColumnsFromDebaga: true"></mat-header-row>
          <mat-row *matRowDef="let row; let i = index; columns: debagas | getColumnsFromDebaga;"></mat-row>
        </mat-table>
      </mat-card-content>
    </mat-card>
  </div>
</div>

