
<ul>
    <li>إعدادت أكواد النظام</li>
</ul>

<mat-card class="example-card mat-elevation-z8">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>إعدادات أكواد النظام</mat-card-title>
    </mat-card-header>
     
    <mat-divider></mat-divider>

    
      <div class="example-container">

        <mat-card-content>
            <mat-form-field appearance="fill">
            <mat-label>نوع الكود</mat-label>
            <mat-select>
                <mat-option value="option">Option</mat-option>
            </mat-select>
            </mat-form-field>
        </mat-card-content>

        <br>

        <mat-card-content>
        <fieldset>
                <legend>قائمه</legend>

            <mat-table class="mat-elevation-z8">

                    <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef> الترتيب </mat-header-cell>
                        <mat-cell> nnnnnnnn </mat-cell>
                    <!-- <th mat-header-cell *matHeaderCellDef>الترتيب </th> -->
                    </ng-container>
                
                    <ng-container matColumnDef="arabicName">
                    <mat-header-cell *matHeaderCellDef> الإسم باللغه العربيه </mat-header-cell>
                    <mat-cell> nnnnnnnn </mat-cell>
                    </ng-container>
                
                    <ng-container matColumnDef="englishName">
                    <mat-header-cell *matHeaderCellDef> الإسم باللغه الإنجليزيه </mat-header-cell>
                    <mat-cell> nnnnnnnn </mat-cell>
                    </ng-container>
                
                    <ng-container matColumnDef="englishSymbol">
                    <mat-header-cell *matHeaderCellDef> الكود باللغه الإنجليزيه </mat-header-cell>
                    <mat-cell> nnnnnnnn </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="statues">
                        <mat-header-cell *matHeaderCellDef>الحالة </mat-header-cell>
                        <mat-cell> nnnnnnnn </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="edit">
                        <mat-header-cell *matHeaderCellDef> تعديل </mat-header-cell>
                        <mat-cell > nnnnnnnn </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="delete">
                        <mat-header-cell *matHeaderCellDef> حذف </mat-header-cell>
                        <mat-cell > nnnnnnnn </mat-cell>
                    </ng-container>
                
                    <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>

                <mat-paginator [pageSize]="2" [pageSizeOptions]="[2, 4, 6, 10, 20]">
                </mat-paginator>

            </fieldset>
        </mat-card-content>
      </div>

  </mat-card>

