<div class="container" fxFlexFill>
    <div fxLayout="row" fxLayoutAlign="center center" >
        <mat-card class="card">
           <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
              <h5 class="headers-color">الرسوم</h5>
           </mat-card-title>
          <mat-divider></mat-divider>
            <mat-card-content>
                    <legend>تفاصيل الرسوم</legend>
                    <div class="mat-elevation-z8 card-content-space-around">
                    <form>
                      <div flexLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" fxLayout.ms="column">
                        <div fxFlex="30">
                          <mat-form-field>
                              <mat-label >الجهة</mat-label>
                              <mat-select>
                                  <mat-option  *ngFor="let direct of directions" [value]="direct">
                                      {{direct}}
                                  </mat-option>
                              </mat-select>
                          </mat-form-field>
                        </div>
                        <div fxFlex="30">
                          <mat-form-field>
                              <mat-label >النوع</mat-label>
                              <!-- <mat-select>
                                  <mat-option  *ngFor="let direct of directions" >
                                      {{direct.name}}
                                  </mat-option>
                              </mat-select> -->
                              <input type="text" placeholder="xxxxxx"   [formControl]="myControl" matInput [matAutocomplete]="auto">
                              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                  <mat-option *ngFor="let transaction of (transactionCategories$|async) | transactionsFlat" [value]="transaction.description" (onSelectionChange)="getAllCategories()">
                                 {{transaction.description}}
                                  </mat-option>
                              </mat-autocomplete>
                          </mat-form-field>
                        </div>
                        <div fxFlex="30">
                          <mat-form-field>
                              <mat-label >قيمة رسوم الاطراف</mat-label>
                              <input matInput  placeholder="xxxxxxx">
                          </mat-form-field> 
                      </div>
                     

                      </div>
                      <div flexLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
                        <div fxFlex="30">
                          <mat-form-field>
                              <mat-label >قيمة رسوم النسخ</mat-label>
                              <input matInput  placeholder="xxxxxxx">
                          </mat-form-field> 
                      </div>
                        <div fxFlex="30">
                          <mat-form-field>
                              <mat-label >قيمة رسوم الطلب</mat-label>
                              <input matInput  placeholder="xxxxxxx">
                          </mat-form-field> 
                        </div>
                        <div fxFlex="30">
                        </div>
                      </div>
                    </form>
                    </div>
            </mat-card-content>
            <mat-card-actions>
                <div fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
                  <div>
                    <button mat-raised-button color="basic">إضافه</button>
                  </div>
                  <div>
                    <button mat-raised-button color="warn">حذف</button>
                  </div>
                </div>
            </mat-card-actions>


            <mat-card-content>
                    <legend>المعاملات</legend>
                    <!-- <div  flexLayout="row" fxLayout.xs="column"> -->
                    <mat-form-field>
                        <mat-label>بحث</mat-label>
                           <input matInput type="text" (keyup)="doFilter($event.target.value)"  placeholder="بحث عن موظف">
                      </mat-form-field>
                      
                      
                      
                      <!-- <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                        <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
                          <mat-header-cell *matHeaderCellDef> {{column.header}} </mat-header-cell>
                          <mat-cell *matCellDef="let element; let i = index ">
                            {{column.columnDef === 'position' ? i+1 : column.columnDef !== 'requestId' ? column.cell(element) : ''}}
                            <a *ngIf="column.columnDef === 'requestId'" mat-icon-button (click)="routeToRequest(element.transactionType.code, element.id)"> {{element.id}} </a>
                          </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                      </mat-table> -->
                    <!-- </div> -->

            
                  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef> الجهة </mat-header-cell>
                      <mat-cell *matCellDef="let element"> </mat-cell>
                    </ng-container>
                  
                    <ng-container matColumnDef="requestId">
                      <mat-header-cell *matHeaderCellDef> رقم الطلب </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                    </ng-container>
                  
                    <ng-container matColumnDef="requestType">
                      <mat-header-cell *matHeaderCellDef> نوع الطلب </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.transactionTypeDesc}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="partiesFeesValue"> 
                      <mat-header-cell *matHeaderCellDef>قيمة رسوم الاطراف</mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.partyFees}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="copyFeesValue"> 
                      <mat-header-cell *matHeaderCellDef>قيمة رسوم النسخ</mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.copyFees}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="requestFeesValue">
                      <mat-header-cell *matHeaderCellDef> قيمة رسوم الطلب </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.categoryFees}} </mat-cell>
                    </ng-container>
                  
                  
                    <ng-container matColumnDef="update">
                        <mat-header-cell *matHeaderCellDef> تعديل </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <button mat-icon-button color="accent" (click)="redirectToUpdate(element.id)">
                              <mat-icon class="mat-18">system_update</mat-icon>
                          </button>
                        </mat-cell>
                      </ng-container>
                      
                      <!-- <ng-container matColumnDef="delete">
                        <mat-header-cell *matHeaderCellDef>حذف</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <button mat-icon-button color="accent" (click)="redirectToUpdate(element.id)">
                              <mat-icon class="mat-18">system_update</mat-icon>
                          </button>
                        </mat-cell>
                      </ng-container> -->
                  
                      <ng-container matColumnDef="delete">
                          <mat-header-cell *matHeaderCellDef> حذف </mat-header-cell>
                          <mat-cell *matCellDef="let element">
                            <button mat-icon-button color="warn" (click)="redirectToDelete(element.id)">
                                <mat-icon class="mat-18">delete</mat-icon>
                            </button>
                          </mat-cell>
                        </ng-container>
                  
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>
<mat-paginator  showFirstLastButtons [pageSize]="5" [pageSizeOptions]="[5, 10, 15, 20, 25]">
</mat-paginator>
            </mat-card-content>
        </mat-card>
    </div>

</div>