.header {
  background-image: url("~src/assets/resources/img/header.png");
  height: 45px;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  .hero-text-box-header {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: flex-end;
    justify-items: center;
    align-items: center;
    color: rgb(255, 255, 255);
    transform: translate(0%, 5%);
    h1 {
      margin: 0;
    }
    a {

    }
  }

}
