:host{
  width: 100%;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
.all_icons{
  list-style:none;
  width:70%;
  float:left;
  margin-left:15%;
  text-align:center;
  display:inline-block;
  margin-top:50px !important;
  font-family:'Sultan' !important ;
  margin-bottom:20px;
  min-height: 450px;
  li{
    text-align:center;
    display:inline-block;
    padding:2%;
    padding-bottom:4%;
    margin-bottom:40px !important;
  }
  h1{
    font-size:14px;
    padding-top:20px;
    font-family:'Sultan';
    height:40px;
    float:right;
    width:160px;
    text-align:center;
  }

  .ih-item.circle.effect1 .info h3{
    color: #fff;
    position: relative;
    margin: 0 30px;
    margin-top: 30px;
    height: 110px;
    font-size: 14px;
    text-align: center;
    font-family: 'Sultan' !important;
  }
}


.ih-item {
  position: relative;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item,
.ih-item * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ih-item a {
  color: #333;
}
.ih-item a:hover {
  text-decoration: none;
}
.ih-item img {
  width: 100%;
  height: 100%;
}

.ih-item.circle {
  position: relative;
  width: 156px;
  height: 156px;
  border-radius: 50%;
}
.ih-item.circle .img {
  position: relative;
  width: 156px;
  height: 156px;
  border-radius: 50%;
}
.ih-item.circle .img:before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item.circle .img img {
  border-radius: 50%;
}
.ih-item.circle .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.ih-item.square {
  position: relative;
  width: 316px;
  height: 216px;
  border: 8px solid #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.ih-item.square .info {
  position: absolute;
  top: 4px;
  bottom: -4px;
  left: -4px;
  right: 2px;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.ih-item.circle.effect1 .spinner {
  width: 166px;
  height: 166px;
  border: 5px solid #574734;
  border-right-color: #e1ccaf;
  border-bottom-color: #e1ccaf;
  border-radius: 50%;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.ih-item.circle.effect1 .img {
  position: absolute;
  top: 4px;
  bottom: -7px;
  left: -6px;
  right: 5px;
  width: auto;
  height: auto;
}
.ih-item.circle.effect1 .img:before {
  display: none;
}
.ih-item.circle.effect1.colored .info {
  background: rgba(161,54,109, 0.6);
  background: rgba(161,54,109, 0.6);
}
.ih-item.circle.effect1 .info {
  top: 8px;
  bottom: -3px;
  left: -2px;
  right: 9px;
  background: rgba(87, 71, 52,0.6);
  background: rgba(87, 71, 52,0.6);
  opacity: 0;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.ih-item.circle.effect1 .info h3 {
  color: #fff;
  position: relative;
  margin: 0 30px;
  margin-top:30px;
  height: 110px;
  font-size:16px;
  padding-top:40px;
  text-align:center;
}

.ih-item.circle.effect1 a:hover .spinner {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.ih-item.circle.effect1 a:hover .info {
  opacity: 1;
}

.space-in-icon {
  margin: 1% 30px 1% 1.6%;
}
.links__link {
  opacity: 0;
  animation: on-load .3s ease-in-out forwards;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
.links__icon {
  width: calc(8px*8);
  height: calc(8px*8);
  transition: all .3s ease-in-out;
  fill: #1a1a1a;
}
@for $var from 1 through 7 {
  ul:nth-child(#{$var}) {
    animation-delay: .25s * $var;
  }
}

@keyframes on-load {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  70% {
    opacity: .7;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes shake{
  0%{transform: rotateZ(0);}
  $pos: 1;
  @for $i from 1 through 9 {
    $pos: $pos * -1;
    $m: (50 / $i) * $pos;
    #{$i*10%}{transform:  rotateZ($m * 1deg)}
  }
  100%{transform: rotateZ(0);}
}
