
  <section class="main-section">

    <ul class="all_icons">
      <ng-container *ngFor="let transaction of transactionCategories$|async"  >
        <div *ngIf="transaction.parentTransactionCategory" >
          <li class=" col space-in-icon" *ngIf="transaction.parentTransactionCategory?.id === parentId && transaction.id !== 2 && transaction.id !== 112">
            <div class="ih-item circle effect1">
              <a [routerLink]="transaction.descriptionEn">

                <div class="spinner"></div>
                <div class="img">
                  <img alt="img" src="../../../assets/resources/img/{{transaction.description}}.png">
                </div>
                <div class="info">
                  <div class="info-back">
                    <h3>
                      {{transaction.description}}
                    </h3>
                  </div>
                </div>
                <h1>
                  {{transaction.description}}
                </h1>
              </a>
            </div>
          </li>
        </div>


        <div *ngIf="transaction.transactionCategory">
          <li class=" col space-in-icon" *ngIf="transaction.transactionCategory.id === parentId && transaction.id !== 2 && transaction.id !== 230">
            <div class="ih-item circle effect1">
              <a (click)="routeToSubCategories(transaction.id)">

                <div class="spinner"></div>
                <div class="img">
                  <img alt="img" src="../../../assets/resources/img/{{transaction.description}}.png">
                </div>
                <div class="info">
                  <div class="info-back">
                    <h3>
                      {{transaction.description}}
                    </h3>
                  </div>
                </div>
                <h1>
                  {{transaction.description}}
                </h1>
              </a>
            </div>
          </li>
        </div>

      </ng-container>

    </ul>


  </section>

